<div class="jumbotron" style="margin: 2rem 15%; max-width: 65%">
  <h1 class="display-4">NMCAD Supply</h1>
  <p class="lead">Welcome to NMCAD Supply.</p>
  <hr class="my-4">
  <p class="lead">
    <%= link_to 'Supply Index', supplies_path, class:"button button-outline-info" %>
  </p>
</div>